.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 22rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 50px rgb(59, 59, 59);
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(-110%);
    transition: all .7s ease;
    h2{
        font-size: 2rem;
        padding: 2rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img{
        width: 25%;
        border-radius: 50%;
    }
    &:hover{
        // background: rgb(207, 211, 218);
        background: rgba(59, 59, 59, 0.7);
    }
}
.song-description {
    padding-left: 1.1rem;
    h3{
        font-size: 1.4rem;
        color:rgba(54,54,54,1);
    }
    h4{
        font-size: 1.3rem;
    }
    h5{
        font-size: 1.1rem;
    }
}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 59, 59, 0.7) transparent;
}
::-webkit-scrollbar{
    width:6px;
}
::-webkit-scrollbar-track{
    background:transparent;
}
::-webkit-scrollbar-track{
    background-color:rgba(59, 59, 59, 0.7);
    border-radius: 20px;
    border: transparent;
}

.selected{
    // background: rgba(59, 59, 59, 0.7);
    background: rgb(207, 211, 218);
}
.active-library {
    transform: translateX(0%);
    opacity: 1;
}