.player{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control{
    width: 50%;
    display: flex;
    input{
        width: 100%;
        padding: 1rem 0;
        -webkit-appearance: none;
        background-color:transparent;
        cursor: pointer;
    }
    p{
        padding: 1rem;
    }    
}


.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 30%;
    svg{
        cursor: pointer;
    }
}


.track{  
    width: 100%;
    height: 10px;
    position: relative;
    border-radius: 1rem;
    overflow:hidden;
}
.animate-track{
    width: 100%;
    height: 100%;
    background:rgb(105, 104, 104);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events:none;
}
input[type="range"]:focus{
    outline:none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 16px;
}


@media screen and (max-width: 768px){
    .time-control{
        width: 80%;
    }
    .play-control{
        width: 70%;
    }
}