*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h4{
    color:rgba(54,54,54,1);
}
body {
    font-family: 'Teko', sans-serif;
    color:rgba(148, 147, 147, 0.9);
}
h3,h4,h5{
    font-weight: 700;
    color:rgba(59, 59, 59, 0.7);
}

.App{
    transition: all 0.6s ease;
}
.library-active{
    margin-left: 30%;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";